body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;  
    padding: 0;
}

h4{
    margin: 0;  
    padding: 0;
}

/*Nav*/

#mainNav{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(220, 220, 220);
    height: 100px
}

#mainNav p{
    font-size: 35px;
    color: rgb(20, 20, 20);
}

.hamburger-button{
    position: absolute;
    display: none;
    width: 50px;
    left: 30px;
    top: 25%;
    cursor: pointer;
    transition: 0.2s ease;
}
.hamburger-button:hover{
    scale: 1.04;
}

.nav-side-content{
    position: absolute;
    right: 30px;
}

.nav-button{
    padding: 8px 24px;
    font-size: 20px;
    background-color: rgb(61, 151, 255);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 20px;
    transition: 0.4s ease;
}

.nav-button:hover{
    background-color: rgba(61, 152, 255, 0.8);
}

.nav-button:active{
    scale: 98%;
}

.new-group{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 22px;
    background-color: white;
    color: rgb(31, 31, 31);
    border: none;
    border-bottom: 3px solid rgb(35, 35, 35);
    height: 100%;
    width: 100vw;
    padding: 40px 0px;
    z-index: 100;
}

.new-group-content{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 00px;
    width: 100%;
}

.left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.right-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}

.new-group input{
    font-size: 16px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    padding: 5px 8px;
    width: 200px;
    background-color: transparent;
    cursor: pointer;
}

.new-group input:focus{
    outline: 2px solid rgb(35, 35, 35);
}

.new-group button{
    font-size: 22px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 2px 8px;
    color: rgb(35, 35, 35);
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.new-group button:hover{
    border-bottom: 2px solid rgb(35, 35, 35);
}

.new-group-hidden{display: none;}

#createGroupButton{
    font-size: 30px;
    width: 150px;
}

.shift-type-container{
    display: flex; 
    gap: 30px;
}

.shift-type-container input{
    width: 200px !important;
}

.shift-type-container button{
    font-size: 20px;
}

#exampleTable{
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    margin-top: 30px;
    table-layout: fixed;
}

#exampleTable td{
    width: 30px;
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.load-group{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
    background-color: rgb(34, 34, 34);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: min(300px, 80vh);
    width: min(300px, 80vw);
    z-index: 100;
    padding-top: 50px;
    overflow: scroll;
}

.group-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.group-container p{
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.group-container p:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.delete-group-button{
    color: red;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    cursor: pointer;
}

.delete-group-button:hover{
    border-bottom: 2px solid rgb(255, 0, 0);
}

/*Main Section*/

#mainSection{
    position: relative;
    display: flex;
    height: calc(100vh - 100px);
}

/*Options Section

#rotaOptions{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    width: 400px;
    height: 100%;
    overflow: scroll;
    flex-shrink: 0;
    padding-top: 60px;
    background-color: rgb(35, 35, 35);
    color: white;
}

#rotaOptions select{
    appearance: none;
    padding: 5px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    border: 1px solid black;
    background-color: white;
}
*/
/*Staff Options*/

.staff-shift-options{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    padding: 20px 50px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

#shiftSelect{
    font-size: 20px;
}

#openStaffButton{
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgb(61, 151, 255);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s ease;
}

#openStaffButton:hover{
    background-color: rgba(61, 151, 255, 0.8);
}

.staff-options-main-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.staff-options-main-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.staff-options-other-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding-top: 20px;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.staff-options-left{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    height: 200px;
    border-right: 1px solid rgb(230, 230, 230);
}

.staff-options-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 200px;
}

.other-info-container{
    padding-left: 20px;
    padding-top: 10px;
}

.contract-info-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.contract-info-container button{
    background-color: rgb(61, 151, 255);
    color: white;
    width: 60px;
    height: 26px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s ease;
}

.contract-info-container button:hover{
    background-color: rgba(61, 152, 255, 0.8);
}

.current-contract{
    display: flex;
    gap: 5px;
}

.new-contract{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.change-contract-input{
    width: 50px;
    height: 20px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid grey;
    padding: 2px 4px;
}

#holidayList{
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 16px;
    height: 100px;
    width: 90%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    overflow-y: scroll;
}

#holidayList::-webkit-scrollbar {
    width: 6px;
}

#holidayList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.holiday-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.delete-holiday-button{
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    color: rgb(255, 65, 65);
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-holiday-button:hover{
    border-bottom: 1px solid rgb(255, 65, 65);
}

.calendar-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.calendar-container input{
    padding: 2px 5px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(245, 245, 245);
    color: rgb(20, 20, 20);
    cursor: pointer;
}

.calendar-container button{
    font-size: 16px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 2px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s ease;
}

.calendar-container button:hover{
    border-bottom: 1px solid rgb(20, 20, 20);
}

.delete-employee-button{
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 65, 65);
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-employee-button:hover{
    border: 1px solid rgb(255, 65, 65);
}

/*Shift Options*/

#shiftOptions{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
}

.shift-options-main-info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    padding: 3px 0px;
}

#shiftSelect{
    font-size: 20px;
}

.shift-options-other-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid rgb(230, 230, 230);
}

.shift-container{
    display: flex;
    gap: 20px;
}

#shiftsList{
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 16px;
    height: 100px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    overflow-y: scroll;
}

#shiftsList::-webkit-scrollbar {
    width: 6px;
}

#shiftsList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.delete-shift-button{
    position: relative;
    top: -4px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 65, 65);
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-shift-button:hover{
    border-bottom: 1px solid rgb(255, 65, 65);
}

.shift-type-select{
    position: relative;
    top: -4px;
    font-size: 16px !important;
    width: 80px !important;
    height: 25px !important;
    padding: 0px !important;
    padding-left: 4px !important;
}

.time-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.time-container input{
    padding: 2px 5px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(245, 245, 245);
    color: rgb(20, 20, 20);
    cursor: pointer;
}

.time-container button{
    font-size: 16px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 2px;
    background-color: transparent;
    color: rgb(20, 20, 20);
    cursor: pointer;
    transition: 0.3s ease;
}

.time-container button:hover{
    border-bottom: 1px solid rgb(20, 20, 20);
}

.add-shift-container{
    display: flex;
    gap: 20px;
}

#shiftTypeSelect{
    font-size: 14px !important;
    height: 30px !important;
    width: 80px !important;
}

/*Other Side Options*/

.new-staff{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 26px;
    background-color: white;
    border: 3px solid rgb(24, 24, 24);
    border-radius: 20px;
    padding: 20px 60px;
    z-index: 100;
}

.new-staff input{
    font-size: 16px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 8px;
    background-color: transparent;
    cursor: pointer;
}

.new-staff button{
    font-size: 22px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 2px 8px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.new-staff button:hover{
    border-bottom: 2px solid rgb(25, 25, 25);
}

/*
#generateButton, #generateAllButton, #fillShifts{
    font-size: 24px;
    padding: 4px 10px;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

#generateButton:hover, #generateAllButton:hover, #fillShifts:hover{
    border-bottom: 2px solid white;
}*/

/*Tables Sections*/

.table-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    overflow: scroll;
    padding: 20px;
    gap: min(3vw, 100px);
}

#groupOptionsNav{
    /*border-bottom: 1px solid rgb(190, 190, 190);*/
    padding: 0px 40px;
    margin-bottom: 20px;
}

#groupOptionsNav h1{
    padding-left: 4px;
}

#groupOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#groupOptions button{
    height: 50px;
    padding: 8px 12px;
    font-size: 20px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 8px;
    transition: 0.4s ease;
    cursor: pointer;
}

#groupOptions button:hover{
    position: sticky;
    background-color: rgb(61, 151, 255) !important;
    color: white !important;
}

#remake{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 140px;
    width: 140px;
    border: none;
    border-radius: 50%;
    font-size: 32px;
    background-color: rgb(61, 151, 255);
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}

#remake:hover{
    background-color: rgba(61, 152, 255, 0.8);
    scale: 0.98;
}

#remake:active{
    scale: 0.95;
}

#autofill{
    position: fixed;
    bottom: 220px;
    right: 50px;
    height: 60px;
    width: 140px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.4s ease;
}

#autofill:hover{
    background-color: rgb(235, 235, 235);
    scale: 0.98;
}

#autofill:active{
    scale: 0.95;
}

.next-prev-container{
    display: flex;
    align-items: center;
    gap: 150px;
}

.next-prev-container p{
    font-size: 30px;
}

#nextRota, #prevRota{
    font-size: 26px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid rgba(24, 24, 24, 0);
    padding: 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(24, 24, 24);
    cursor: pointer;
    transition: 0.3s ease;
}

#nextRota:hover{
    border-bottom: 2px solid rgb(24, 24, 24);
}

#prevRota:hover{
    border-bottom: 2px solid rgb(24, 24, 24);
}

/*Rota Table*/

.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    overflow: scroll;
    flex-shrink: 0;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
}

th{
    padding: 10px 0px;
    border: 1px solid black;
}

#rotaTable td{
    padding: 5px;
    border: 1px solid black;
    vertical-align: top;
    line-height: 20px;
    height: 100px;
}

.new-staff-select{
    appearance: none;
    display: block;
    font-size: 16px;
    padding: 10px 10px;
}


/*Stats Table*/

#currentStats{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 55px;
}

#statsTable{
    width: 400px;
}

#statsTable td{
    padding: 5px;
    border: 1px solid black;
    vertical-align: top;
    line-height: 20px;
    width: 100px;
}

#statsTable td:first-child{
    width: 200px;
}

.hidden{
    display: none !important;
}

@media (min-width: 1921px) {
    #rotaOptions{
        display: flex;
    }
}

@media (max-width: 1920px){
    .table-section{
        padding-left: 50px;
    }

    .hamburger-button{
        display: block;
    }
}

@media (max-width: 1600px){
    .table-section{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
    }

    .next-prev-container{
        gap: 10vw;
        margin-bottom: 0px;
    }
}

@media (max-width: 750px){
    nav p{
        display: none;
    }

    table{
        margin-top: -150px;
        transform: scale(0.55);
        z-index: -10;
    }

    #currentStats{
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 0px;
        margin-top: -100px;
        transform: scale(1.2);
        z-index: -10;
    }
}