body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

nav{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 100px;
}

nav p{
    font-size: 35px;
    color: white;
}

.hamburger-button{
    position: absolute;
    width: 50px;
    left: 30px;
    top: 25%;
    cursor: pointer;
    transition: 0.2s ease;
}
.hamburger-button:hover{
    scale: 1.04;
}

.nav-side-content{
    position: absolute;
    right: 30px;
}

.nav-button{
    padding: 5px 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.4s ease;
}

.nav-button:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-button:active{
    scale: 98%;
}

#mainSection{
    position: relative;
    display: flex;
    height: calc(100vh - 100px);
}

.new-staff{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 30px;
    z-index: 100;
}

.new-staff-hidden{display: none;}

#rotaOptions{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    width: 380px;
    overflow: scroll;
    flex-shrink: 0;
    padding-top: 60px;
    background-color: rgb(34, 34, 34);
    color: white;
}

#rotaOptions select{
    appearance: none;
    padding: 5px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    border: 1px solid black;
    background-color: white;
}

#staffOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    gap: 30px;
    padding-bottom: 20px;
    width: 100%;
}

#holidayList{
    gap: 5px;
    font-size: 16px;
}

.holiday-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.delete-holiday-button{
    font-size: 16px;
    background-color: transparent;
    color: rgb(255, 65, 65);
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-holiday-button:hover{
    border-bottom: 1px solid rgb(255, 65, 65);
}

.delete-shift-button{
    position: relative;
    top: -4px;
    font-size: 16px;
    background-color: transparent;
    color: rgb(255, 65, 65);
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-shift-button:hover{
    border-bottom: 1px solid rgb(255, 65, 65);
}

.delete-employee-button{
    font-size: 16px;
    background-color: transparent;
    color: rgb(255, 65, 65);
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.delete-employee-button:hover{
    border: 1px solid rgb(255, 65, 65);
}

.calendar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 20px;
}

.calendar-container-hidden{
    display: none;
}

.calendar-container input{
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 5px 8px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.calendar-container button{
    font-size: 16px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.calendar-container button:hover{
    border-bottom: 1px solid white;
}

.time-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.time-container-hidden{
    display: none;
}

.time-container input{
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 5px 8px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.time-container button{
    font-size: 16px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.time-container button:hover{
    border-bottom: 1px solid white;
}

.table-container{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-left: 1px solid grey;
    overflow: scroll;
    padding: 20px 0px;
}

.holiday-container{
    display: flex;
    gap: 20px;
}

.shift-container{
    display: flex;
    gap: 20px;
}

#openStaffButton, #generateButton, #generateAllButton, #fillShifts, #printToPDF{
    font-size: 24px;
    padding: 4px 10px;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

#openStaffButton:hover, #generateButton:hover, #generateAllButton:hover, #fillShifts:hover, #printToPDF:hover{
    border-bottom: 2px solid white;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
}

th{
    padding: 10px 0px;
    border: 1px solid black;
}

#rotaTable td{
    padding: 5px;
    border: 1px solid black;
    vertical-align: top;
    line-height: 20px;
    height: 100px;
}

.new-staff-select{
    appearance: none;
    display: block;
    font-size: 16px;
    padding: 10px 10px;
}

.new-group{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 26px;
    background-color: white;
    border: 3px solid rgb(24, 24, 24);
    border-radius: 20px;
    padding: 20px 60px;
    z-index: 100;
}

.new-group input{
    font-size: 16px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 8px;
    background-color: transparent;
    cursor: pointer;
}

.new-group button{
    font-size: 22px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 2px 8px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.new-group button:hover{
    border-bottom: 2px solid rgb(25, 25, 25);
}

.new-group-hidden{
    display: none;
}

.load-group{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 26px;
    background-color: white;
    border: 3px solid rgb(24, 24, 24);
    border-radius: 20px;
    padding: 20px 60px;
    z-index: 100;
}

.load-group p{
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s ease;
}
.load-group p:hover{
    border-bottom: 2px solid rgb(25, 25, 25);
}

.hidden{
    display: none;
}

.next-prev-container{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-bottom: 20px;
}

.next-prev-container p{
    font-size: 30px;
}

#nextRota, #prevRota{
    font-size: 26px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid rgba(24, 24, 24, 0);
    padding: 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(24, 24, 24);
    cursor: pointer;
    transition: 0.3s ease;
}

#nextRota:hover{
    border-bottom: 2px solid rgb(24, 24, 24);
}

#prevRota:hover{
    border-bottom: 2px solid rgb(24, 24, 24);
}

#currentStats{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 75px;
}

#statsTable{
    width: 400px;
}

#statsTable td{
    padding: 5px;
    border: 1px solid black;
    vertical-align: top;
    line-height: 20px;
    width: 100px;
}

#statsTable td:first-child{
    width: 200px;
}

@media (max-width: 1400px){

}